<p>Find me in app/views/stores/index.html.erb</p>

<h1>Show all stores information</h1>
<table>
  <tr>
    <td>Name</td>
    <td>Address</td>
  </tr>
  <% @stores.each do |store| %>
  <tr>
    <td><%= store.StoreName %></td>
    <td><%= store.Address %></td>
  </tr>
  <% end %>
  <tr>
    <td><%= link_to "Add", new_store_path %></td>
  </tr>
</table>